/* Establecemos las variables para los colores */
:root {
    --color-primario: #cc9a48; /* Dorado */
    --color-secundario: #dfdfdf; /* Blanco */
    --color-texto: #ffffff; /* Blanco para el texto */
    --color-fondo: #161616; /* Fondo negro oscuro */
    --color-pie-fondo: #101010; /* Fondo negro más oscuro para el pie */
    --color-pie-texto: #fff; /* Texto blanco en el pie */
    --color-boton-fondo: #cc9a48; /* Fondo de los botones dorado */
    --color-boton-hover: #826343; /* Color de los botones al hacer hover (detalles sutiles) */
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente y colores base */
body {
    font-family: 'Roboto', sans-serif; /* Usamos la fuente Roboto */
    background-color: var(--color-fondo); /* Fondo general negro */
    color: var(--color-texto); /* Color blanco para el texto */
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado */
header {
    background-color: var(--color-fondo); /* Fondo negro */
    color: var(--color-primario); /* Título dorado */
    padding: 80px 0; /* Suficiente espacio para destacar el título */
    border-bottom: 3px solid var(--color-primario); /* Detalle dorado sutil */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos del header verticalmente */
    width: 100%; /* Asegura que el header ocupe todo el ancho de la página */
}

/* Contenedor para el logo */
.header-logo-container {
    display: flex;
    align-items: center; /* Centra el logo verticalmente */
    margin-right: 20px; /* Espacio entre el logo y el título */
}

/* Logo en el header */
header .header-logo {
    width: 6rem; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Contenedor para el título */
.header-title-container {
    display: flex;
    align-items: center; /* Centra el título verticalmente */
}

/* Estilos del título */
header h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    color: var(--color-primario); /* Título en dorado */
}

/* Contenido principal */
main {
    background-color: var(--color-fondo); /* Fondo negro para mantener la uniformidad */
    padding: 100px 0 50px; /* Espacio superior aumentado para separar más del header */
    flex: 1;
    text-align: center;
}

main h2 {
    font-size: 2rem;
    color: var(--color-secundario); /* Color blanco para los subtítulos */
    margin-bottom: 30px;
}

/* Enlaces de herramientas */
.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tool-link {
    display: inline-block;
    background-color: var(--color-boton-fondo); /* Fondo dorado de los botones */
    color: #fff;
    font-size: 1.5rem;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Agregamos sombra sutil a los botones */
}

.tool-link:hover {
    background-color: var(--color-boton-hover); /* Fondo de los botones al hacer hover */
    transform: translateY(-5px); /* Efecto de elevación */
}

/* Pie de página */
footer {
    background-color: var(--color-pie-fondo); /* Fondo negro más oscuro */
    color: var(--color-pie-texto); /* Texto blanco */
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centra los elementos del footer horizontalmente */
    align-items: center; /* Centra los elementos del footer verticalmente */
}

/* Contenedor para el logo en el footer */
.footer-logo-container {
    display: flex;
    align-items: center; /* Centra el logo verticalmente */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

/* Logo en el footer */
footer .footer-logo {
    margin: 1.6rem;
    width: 3rem; /* Ajusta el tamaño del logo en el footer */
    height: auto;
}

/* Estilos del texto en el pie */
footer p {
    font-size: 1.4rem;
    color: var(--color-pie-texto); /* Texto blanco */
}

/* Media Queries (para pantallas menores o igual a 768px) */
@media (max-width: 768px) {
    header h1 {
        display: none; /* Ocultamos el título en pantallas pequeñas */
    }

    main h2 {
        font-size: 1.6rem; /* Reducimos el tamaño de los subtítulos */
    }

    .tool-link {
        font-size: 1.2rem;
        padding: 12px 25px;
    }

    /* Ajuste del logo en el header para pantallas pequeñas */
    header .header-logo {
        margin-left: 2rem;
        width: 100px; /* Reducimos el tamaño del logo */
    }

    /* Ajuste del logo en el footer para pantallas pequeñas */
    footer .footer-logo {
        width: 75px; /* Reducimos aún más el tamaño del logo */
    }

    footer p {
        display: none; /* Ocultamos el texto del pie de página en pantallas pequeñas */
    }

    /* Alineación de los enlaces de herramientas */
    .links-container {
        flex-direction: column;
        gap: 10px;
    }

    /* Ajuste de márgenes en el footer */
    footer {
        padding: 0.5rem; /* Reducimos el padding del pie de página */
    }

    /* Ajuste de padding en el contenedor principal */
    main {
        padding: 50px 20px;
    }
}

/* Media Queries (para pantallas menores o igual a 425px) */
@media (max-width: 425px) {
    header h1 {
        display: none; /* Ocultamos el título en pantallas de 425px o menos */
    }

    footer p {
        display: none; /* Ocultamos el texto del pie de página en pantallas de 425px o menos */
    }

    .tool-link {
        font-size: 1.2rem;
        padding: 12px 25px;
    }

    /* Agrandamos el logo en el header para pantallas pequeñas */
    header .header-logo {
        width: 90px; /* Agrandamos el tamaño del logo */
    }

    /* Agrandamos el logo en el footer para pantallas pequeñas */
    footer .footer-logo {
        width: 50px; /* Agrandamos el tamaño del logo en el footer */
    }

    /* Centrado del logo */
    header .header-logo-container,
    footer .footer-logo-container {
        justify-content: center; /* Centra los logos */
    }

    /* Ajuste de los márgenes en el footer */
    footer {
        padding: 0.5rem; /* Reducimos el padding del pie de página */
    }

    /* Ajuste de padding en el contenedor principal */
    main {
        padding: 50px 20px;
    }

    /* Alineación de los enlaces de herramientas */
    .links-container {
        flex-direction: column;
        gap: 10px;
    }
}

/* Media Queries para pantallas más pequeñas (320px o menos) */
@media (max-width: 375px) {
    header h1 {
        font-size: 2rem; /* Reducimos aún más el tamaño del título */
    }

    .tool-link {
        font-size: 1rem; /* Reducimos el tamaño de los botones */
        padding: 10px 20px; /* Menos padding para caber mejor en pantallas pequeñas */
    }

    /* Agrandamos el logo en el header para pantallas más pequeñas */
    header .header-logo {
        width: 120px; /* Agrandamos aún más el tamaño del logo en el header */
    }

    /* Agrandamos el logo en el footer para pantallas más pequeñas */
    footer .footer-logo {
        width: 70px; /* Agrandamos aún más el tamaño del logo en el footer */
    }

    footer p {
        font-size: 1rem; /* Reducción del tamaño de la fuente del pie de página */
    }

    /* Ajuste del contenedor principal para dispositivos más pequeños */
    main {
        padding: 30px 15px; /* Reducimos el padding para que no se desborde */
    }

    /* Alineación de los enlaces de herramientas */
    .links-container {
        gap: 5px; /* Reducimos el espacio entre los enlaces */
    }
}

/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
