/* Establecemos las variables para los colores */
:root {
    --color-primario: #cc9a48; /* Dorado */
    --color-secundario: #dfdfdf; /* Blanco */
    --color-texto: #ffffff; /* Blanco para el texto */
    --color-fondo: #161616; /* Fondo negro oscuro */
    --color-pie-fondo: #101010; /* Fondo negro más oscuro para el pie */
    --color-pie-texto: #fff; /* Texto blanco en el pie */
    --color-boton-fondo: #cc9a48; /* Fondo de los botones dorado */
    --color-boton-hover: #826343; /* Color de los botones al hacer hover (detalles sutiles) */
}

/* Estilo General */
body {
    font-family: 'Poppins', Arial, sans-serif; /* Nueva fuente */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* Cabecera */
header {
    background-color: var(--color-fondo); /* Negro */
    color: var(--color-primario); /* Dorado */
    border-bottom: solid var(--color-boton-fondo); /* Dorado */
    text-align: center;
    padding: 3.6rem;
    padding-left: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 3rem; /* Aumentado el tamaño del título */
    font-weight: 600; /* Negrita para destacar */
}

/* Contenedor para el logo en el header */
.header-logo-container {
    display: flex;
    align-items: center;
    margin-right: 2rem; /* Espacio entre el logo y el título */
}

/* Logo en el header */
header .header-logo {
    width: 4rem; /* Ajustamos el tamaño del logo */
    height: auto;
}

/* Contenido principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

/* Generador de QR */
.qr-generator {
    text-align: center;
    margin-bottom: 2rem;
}

.qr-generator input {
    padding: 1rem;
    font-size: 1.6rem;
    width: 30rem;
    border-radius: 5px;
    border: 1px solid var(--color-secundario);
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    font-family: 'Poppins', Arial, sans-serif; /* Aplicamos la nueva fuente */
}

.qr-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espaciado entre botones */
}

.qr-buttons button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: var(--color-boton-fondo);
    color: var(--color-fondo);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', Arial, sans-serif; /* Aplicamos la nueva fuente */
}

.qr-buttons button:hover {
    background-color: var(--color-boton-hover);
}

.qr-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem; /* Tamaño reducido */
    height: 20rem; /* Tamaño reducido */
    border: 3px dashed var(--color-secundario);
    border-radius: 10px;
}


/* Pie de página */
footer {
    background-color: var(--color-pie-fondo); /* Fondo negro más oscuro */
    color: var(--color-pie-texto); /* Texto blanco */
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centra los elementos del footer horizontalmente */
    align-items: center; /* Centra los elementos del footer verticalmente */
}

/* Contenedor para el logo en el footer */
.footer-logo-container {
    display: flex;
    align-items: center; /* Centra el logo verticalmente */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

/* Logo en el footer */
footer .footer-logo {
    margin: 1.6rem;
    width: 3rem; /* Ajusta el tamaño del logo en el footer */
    height: auto;
}

/* Estilos del texto en el pie */
footer p {
    font-size: 1.4rem;
    color: var(--color-pie-texto); /* Texto blanco */
}
